<div class="background-container">
   <div class="login-container">
        <h2>Log in</h2>
        <p>Pay attention: this is not the original Netflix sign in. Don't insert your real credentials here!</p>
        <form action="#" class="form-container">
           <input type="email" name="email" id="email" placeholder="E-mail">
           <input type="password" name="password" id="password" placeholder="Password">
           <button class="login-button">Log in</button>
           <button class="login-google-button">Log in with Google</button>
           <button class="login-anonumously-button">Log in anonymously</button>
        </form>
        <hr>
        <span>Haven't you registered yet? <a href="#">Sign Up</a></span>
   </div>
</div>
